.account-container{
    width:1000px;
    background-color: rgb(241, 238, 238);
    margin: 30px auto 0;
    padding: 40px 100px;
    .account-header{
        font-size: 30px;
        color: rgb(114, 112, 112);
        padding-bottom: 20px;
        border-bottom: 2px solid black; 
        span{
            padding: 10px 0 0 10px;
        }
    }
    .profile{
        margin-top: 40px;
        width: 100%;
        padding: 20px 0 50px;
        &-title{
            font-size: 20px;
            padding-bottom:10px; 
            border-bottom: 2px solid #ccc;
        }
        &-detail{
            margin-top: 20px;
        }
    }
    .setting{
        margin-top: 40px;
        width: 100%;
        padding: 20px 0 50px;
        &-title{
            font-size: 20px;
            padding-bottom:10px; 
            border-bottom: 2px solid #ccc;
        }
    }
}